.body{
    font-family: 'Kanit', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'PT Serif', serif;
}
.bgc{
    background-color: #ffc017;
}
.border-bottom{
}
.buttons li{

    margin-bottom: 10px;

   
}
 